# Removing Data

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Create path
path = r'C:\Users\RebekkaBrandt\Documents\Instacart Basket Analysis'

In [3]:
# Import orders_products_all
ords_prods_all = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_all.pkl'))

In [4]:
ords_prods_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 35 columns):
 #   Column                     Dtype
---  ------                     -----
 0   order_id                   int32
 1   user_id                    int32
 2   order_number               int8
 3   orders_day_of_week         int8
 4   order_hour_of_day          int8
 5   days_since_previous_order  float16
 6   product_id                 int32
 7   add_to_cart_order          int32
 8   reordered                  int8
 9   product_name               object
 10  aisle_id                   int8
 11  department_id              int8
 12  prices                     float16
 13  _merge                     category
 14  price_range_loc            object
 15  busiest_day                object
 16  busiest_days               object
 17  busiest_peripd_of_day      object
 18  busiest_period_of_day      object
 19  max_order                  int8
 20  loyalty_flag               object
 21  avg_price                  float16
 22  spending_flag              object
 23  order_freq                 float16
 24  frequency                  object
 25  frequency_flag             object
 26  first_name                 object
 27  last_name                  object
 28  gender                     object
 29  state                      object
 30  age                        int8
 31  date_joined                object
 32  number_of_dependants       int8
 33  family_status              object
 34  income                     int32
dtypes: category(1), float16(4), int32(5), int8(9), object(16)
memory usage: 5.3+ GB

## Drop First Name & Last Name for PII resons

In [5]:
ords_prods_all= ords_prods_all.drop(columns = ['first_name', 'last_name'])

In [6]:
ords_prods_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 33 columns):
 #   Column                     Dtype
---  ------                     -----
 0   order_id                   int32
 1   user_id                    int32
 2   order_number               int8
 3   orders_day_of_week         int8
 4   order_hour_of_day          int8
 5   days_since_previous_order  float16
 6   product_id                 int32
 7   add_to_cart_order          int32
 8   reordered                  int8
 9   product_name               object
 10  aisle_id                   int8
 11  department_id              int8
 12  prices                     float16
 13  _merge                     category
 14  price_range_loc            object
 15  busiest_day                object
 16  busiest_days               object
 17  busiest_peripd_of_day      object
 18  busiest_period_of_day      object
 19  max_order                  int8
 20  loyalty_flag               object
 21  avg_price                  float16
 22  spending_flag              object
 23  order_freq                 float16
 24  frequency                  object
 25  frequency_flag             object
 26  gender                     object
 27  state                      object
 28  age                        int8
 29  date_joined                object
 30  number_of_dependants       int8
 31  family_status              object
 32  income                     int32
dtypes: category(1), float16(4), int32(5), int8(9), object(14)
memory usage: 4.8+ GB

In [7]:
ords_prods_all.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_all_2.pkl'))

## Removing customer with low order number

In [8]:
ords_prods_all.loc[ords_prods_all['max_order'] < 5, 'activity'] = 'low activity'

In [10]:
ords_prods_all.loc[ords_prods_all['max_order'] >= 5, 'activity'] = 'high activity'

In [11]:
ords_prods_all.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,reordered,product_name,...,frequency,frequency_flag,gender,state,age,date_joined,number_of_dependants,family_status,income,activity
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,NaN,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,high activity
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,NaN,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,high activity
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,NaN,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,high activity
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,NaN,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,high activity
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,NaN,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,high activity

In [12]:
ords_prods_all['activity'].value_counts(dropna = False)

high activity    30964564
low activity      1440295
Name: activity, dtype: int64

In [13]:
ords_prods_all_high_activity =  ords_prods_all[ords_prods_all['activity']=='high activity']

In [14]:
ords_prods_all_high_activity.shape

(30964564, 34)

In [15]:
ords_prods_all_high_activity.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_all_high_activity.pkl'))